@model System.Collections.Generic.IEnumerable<Online_Clinic.Common.ViewModels.RandevuVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Index">Randevularım</a>
</p>

<table>
    <thead>
        <tr>
            <th>
                Hastanın Adı
            </th>
            <th>
                Tarih
            </th>
            <th>
               Saat
            </th>
            <th>
                Telefon
            </th>
            <th>
                E-mail
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item != null)
            {
                <tr>
                    <th>
                        @item.TamAd
                    </th>
                    <th>
                        @item.Tarih
                    </th>
                    <th>
                        @item.Saat
                    </th>
                    <th>
                        @item.Telefon
                    </th>
                    <th>
                        @item.Email
                    </th>
                </tr>
            }
        }
    </tbody>
</table>




