@model System.Collections.Generic.IEnumerable<Online_Clinic.Common.ViewModels.BağışTalebiVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Talep Listesi</h2>
        <p>@DateTime.Now</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Ad</th>
                    <th>Açıklama</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        @*<td>@item.</td>*@
                        <td>@item.TalepTarihi</td>
                        <td>@item.AdSoyad</td>
                        <td>@item.TalepAçıklaması</td>
                        <td>
                            <a type="button" style="background-color: #74d14c; color: white; padding: 5px; border-radius: 5px; margin-right: 5px" asp-action="Onayla" asp-route-id="@item.TalepID">Onay</a>
                            <a type="button" style="background-color: indianred; color: white; padding: 5px; border-radius: 5px" asp-action="İptal" asp-route-id="@item.TalepID">İptal</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

</body>
</html>


