@model IEnumerable<Online_Clinic.DataAccess.Hasta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoğumTarihi)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Cinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Şifre)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoğumTarihi)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Şifre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HastaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HastaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HastaID">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
