@model System.Collections.Generic.IEnumerable<Online_Clinic.Common.ViewModels.HastaVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Hasta Listesi</h2>
        <p>@DateTime.Now</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@item.Ad</td>
                        <td>@item.Soyad</td>
                        <td>@item.Email</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.HastaID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.HastaID">Delete</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

</body>
</html>